@font-face{
    font-family: 'Formula1';
    src: url(/fonts/formula1-regular-webfont.woff) format('woff');
}


* {
  margin: 0px;
  font-family:Formula1;
  font-stretch: extra-expanded;
}



/*white-red,red-black,black-white*/
/*#a6051a potentiel annan röd färg*/

#main-page {
  width: 100%;
  display: grid;
  grid-template-rows:10vh 80vh 80vh 80vh 80vh;
  grid-template-areas:
    "na"
    "ho"
    "te"
    "hi"
    "ne";
}

html{
  scroll-behavior: smooth;
}

#navigation {
  width: 100%;
  height: 10vh;
  background-color: #d00000;
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 1px 50px 0px rgb(65, 65, 65);
}

#buttons {
  color: white;
  width: 20vw;
  height: 10vh;
  border-radius: 1vw;
  transition: 0.3s;
  align-items: center;
  display: flex;
  justify-content: center;
  transition-duration: 0.3s;
  user-select: none;
  font-size: 2.5vw;
  text-decoration: none;
}

#buttons:hover {
  transition-duration: 0.3s linear;
  transform: scale(1.05);
  text-decoration: underline;
}

#buttons:active{
  transform: scale(0.95);
}

#home {
  
  color: white;
  background-image: url(/img/jacob-capener-Hnv7xmUpFPw-unsplash.jpg);
  background-size: cover;
  background-position: bottom;
  grid-area: ho;
  background-color: #f0efeb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#message-home{
  color: white;
  text-shadow: 0 0 20px black, 0 0 10px #d00000;
  margin: 20px;
  font-size: 4.5vw;
  text-decoration: underline solid;
}

#subscribe-button{
    background-color: rgb(65, 65, 65);
    font-size: 1.8vw;
    width: 15vw;
    height: 8vh;
    border-radius: 12px;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    transition-duration: 0.3s;
}


#subscribe-button:hover{
  background-color: rgb(45, 45, 45);
  transition-duration: 0.3s;
  transform: scale(1.03);

}

#subscribe-button:active{
  transform: scale(0.95);
  background-color: rgb(65, 65, 65);
}

#teams {
  color: white;
  grid-area: te;
  background-color: #d00000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}

#michael{
  background-image: url(/img/Michael-Schumacher-PNG-Clipart-Background.png);
  width: 40%;
  height: 80vh;
  background-position: bottom;
  background-size: 20vw;
  background-repeat: no-repeat;
}

#exploration{
  width: 20%;
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
  justify-content: space-evenly;
}

#explore-teams{
  font-size: 2.3vw;
  text-align: center;
  width: 17vw;
  height: 23vh;
  border-radius: 12px;
  user-select: none;
}

#explore-teams-button{
  background-color: rgb(65, 65, 65);
  font-size: 1.8vw;
  width: 15vw;
  height: 8vh;
  border-radius: 12px;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  transition-duration: 0.3s;
}

#explore-teams-button:hover{
  background-color: rgb(45, 45, 45);
  transition-duration: 0.3s;
  transform: scale(1.03);
}

#explore-teams-button:active{
  transform: scale(0.95);
  background-color: rgb(65, 65, 65);
  
}

#lewis-hamilton{
  background-image: url(/img/pngwing.com.png);
  width: 40%;
  height: 80vh;
  background-position: bottom;
  background-size: 40vw;
  background-repeat: no-repeat;
}


#history {
  color: white;
  grid-area: hi;
  background-color: rgb(65, 65, 65);
}

#news {
  grid-area: ne;
  color: rgb(25, 25, 25);
  background-color: #f5f3f4;
}

#contact {
  background-color: rgb(65, 65, 65);
  height: 20vh;
}

